---
import "@pagefind/default-ui/css/ui.css";
import { join } from "node:path";
import type { Props } from "./Search.js";

const { id, className } = Astro.props as Props;
const bundlePath = join(import.meta.env.BASE_URL, "_pagefind/");
const divProps = {
  ...(id ? { id } : {}),
  ...(className ? { class: className } : {}),
};
---

<div {...divProps} data-pagefind-ui data-bundle-path={bundlePath}></div>
<script>
  import { PagefindUI } from "@pagefind/default-ui";
  window.addEventListener("DOMContentLoaded", () => {
    const selector = "[data-pagefind-ui]";
    const el = document.querySelector(selector);
    const bundlePath = el?.getAttribute("data-bundle-path");
    new PagefindUI({
      element: selector,
      bundlePath,
    });
  });
</script>
